*{
    margin:0;
    padding:0;
    font-family: "montserrat", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #FAFBFA;
    height: 100vh;
}

.our-services{
    width: 100%;
    height: auto;
    padding: 40px;
    
}

.our-services h1{
    text-align: center;
    margin-bottom: 30px;
    color: #180404;
}

.our-services .content .services{
    width: 40%;
    border: 1px solid rgb(187, 250, 162);
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    background-color: #0e3100;
    color: #FAFBFA;
}

.our-services .content .services .icon img{
    width: 100px;
    height: 100px;
    margin: 0;
}

.icon{
    text-align: center;
    border-bottom: 3px solid #7deb00;
    margin: 10px 0;
}

.content{
    display: flex;
    flex-direction: row;
}

.content p{
    margin: 10px 0;
    text-align:start;
    text-wrap: wrap;
    word-spacing: normal;
}

.content button{
    width: 100%;
    padding: 7px 0;
    background-color: #7deb00;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #0e3100;
    font-size: 14px;
}